.RestTeam {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  background-color: var(--color-off-white);
  padding: 4.5rem 2.25rem;
}

.TeamCarousel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.TeamCarousel .LL-Card {
  flex-basis: 25%;
}

.Team-Rev {
  color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
  .TeamCarousel {
    flex-wrap: wrap;
  }
  .TeamCarousel .LL-Card {
    flex-basis: 40%;
  }
}
