#about {
  background-color: var(--color-primary2);
  padding: 8% 8% 100px;
  width: 100%;
}

#about-image {
  position: relative;
  display: flex;
  width: 100%;
}
#about p {
    color: var(--color-black);
    font-weight: 700;
}

#about-image img {
  max-width: 300px;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 1068px) {
  .about-columns {
    gap: 3px;
  }

  
#about-image img {
    margin-top: 2rem;
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 768px) {
  #about {
    padding: 10%;
  }

  .about-columns {
    gap: 0px;
  }

  #about-image img {
    width: auto;
    height: auto;
  }

  #about-chef-image {
    transform: scale(0.5);
  }

}
